.main{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.m-1{
	font-size: 25px;
	font-family: Verdana;
	margin: 10px;
}

.m-2{

}

.m-3{
	font-size: 15px;
	font-family: Verdana;
	margin: 10px;
}



